In [25]:
import pandas as pd

data = pd.read_csv('Breast-cancer.csv')
data.head()

,ID,diagnosis,Attr1,Attr2,Attr3,Attr4,Attr5,Attr6,Attr7,Attr8,...,Attr21,Attr22,Attr23,Attr24,Attr25,Attr26,Attr27,Attr28,Attr29,Attr30
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [26]:
N, p = data.shape
print("This data contains {} sampels and {} features".format(N,p))

This data contains 569 sampels and 32 features

In [27]:
data = data.drop('ID',axis=1)
N, p = data.shape
print("This data contains {} sampels and {} features".format(N,p))

This data contains 569 sampels and 31 features

In [28]:
y = data.pop('diagnosis')
print(y.shape)

(569,)

In [29]:
y = y.replace(['M','B'],[1,0])
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
564    1
565    1
566    1
567    1
568    0
Name: diagnosis, Length: 569, dtype: int64

In [30]:
data.isnull().sum()

Attr1     0
Attr2     0
Attr3     0
Attr4     0
Attr5     0
Attr6     0
Attr7     0
Attr8     0
Attr9     0
Attr10    0
Attr11    0
Attr12    0
Attr13    0
Attr14    0
Attr15    0
Attr16    0
Attr17    0
Attr18    0
Attr19    0
Attr20    0
Attr21    0
Attr22    0
Attr23    0
Attr24    0
Attr25    0
Attr26    0
Attr27    0
Attr28    0
Attr29    0
Attr30    0
dtype: int64

In [31]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(data)
data=scaler.transform(data)
print(type(data))

#or
scaler = StandardScaler()
x= scaler.fit_transform(data)
print(type(x))

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>

In [32]:
from sklearn.linear_model import LogisticRegression

log_model = LogisticRegression(solver="liblinear",fit_intercept=False)
log_model.fit(x,y)

LogisticRegression(fit_intercept=False, solver='liblinear')

In [33]:
w = log_model.coef_[0]
#b = log_model.intercept_[0]
print("Weights = \n{}".format(w))
#print("\nIntercept (bias)= {:.4f}".format(b))

Weights =
[ 0.3064925   0.37601767  0.29909613  0.47457416  0.12462512 -0.59894177
  0.91610025  0.99924097 -0.06003013 -0.25617591  1.31912618 -0.2736834
  0.69866917  1.12309861  0.29979412 -0.77671968 -0.12895296  0.25274684
 -0.25971771 -0.62323882  1.03770689  1.30421851  0.83861088  1.12843997
  0.68173109 -0.07147825  0.86605612  0.90745226  0.86446369  0.50536168]

In [39]:
x_40 = x[39:40,:]
y_40 = y[39]
y_hat_40= log_model.predict(x_40)
print("Actual label of the 40th sample: {}, ".format(y_40) + \
      "predicted label of the 40th sample: {}".format(y_hat_40[0]))

Actual label of the 40th sample: 1, predicted label of the 40th sample: 1

In [40]:
x_74 = x[73:74,:]
y_74 = y[73]
y_hat_74= log_model.predict(x_74)
print("Actual label of the 74th sample: {}, ".format(y_74) + \
      "predicted label of the 74th sample: {}".format(y_hat_74[0]))

Actual label of the 74th sample: 1, predicted label of the 74th sample: 0

In [41]:
print("accuracy is {}".format(log_model.score(x,y)))

accuracy is 0.9876977152899824

In [42]:
sum(y != log_model.predict(x))

7